<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home :)</title>
</head>
<body>
  <!--For loop-->
  <% for(let i = 1;i <= 10; i++ ) { %>
    <h1><%= i %></h1>
  <% } %>
</body>
</html>